* {
    box-sizing: border-box;
}
body {
	
	font-family: raleway, sans-serif;
}

header {
    text-align: center;
	font-size: 70px;
	background: powderblue;
    width: 100%;
}

.menu  {
    text-align: center;
	background-color: #fcfbe2;
    padding: 1px 0;
} 

.menu li {
	display: inline-block;
    margin-right: 20px;
	text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px #fcfbe2;
}

.menu li:hover {
	display: inline-block;
    margin-right: 20px;
	text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px red;
}


.navigation a {
	display: inline-block;
    text-decoration: none;
	color: gray;
    
}

.navigation a:hover {
	color: darkred;
}

.main {
    overflow: none;
   
}

.col {
    float: left;
    width: 33.3%;
    text-align: center;
}

#col_one {
    background-color: aqua;
    height: 100%;
    padding-top: 1px;
}

#col_two {
    background-color: orange;
    height: 100%;
    padding-top: 1px;
} 

#col_three {
    background-color: aquamarine;
    height: 100%;
    padding-top: 1px;
} 

.bottom {
    clear: both;
    background-image: url("/Users/mac/Downloads/imageshandler.png");
    background-size: auto; 
    height: 450px;
}

.banner {
    text-align: center;
    position: relative;
    top: 175px;
    color: aliceblue;
}

.banner a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 7px;
    border-bottom: solid 1px;
}

.bottom a:visited {
    color: deeppink;
}