* {
    box-sizing: border-box;
    min-width: 400px;
    margin: auto;
}

@media only screen and (min-width: 350px) and (max-width: 1024px) {
    
}

body {
    margin: 20px;
    /* border: solid 2px grey ;*/
    background-color: black;
    color: white;
    font-family: "ralewway" ,sans-serif;
}

div .menu {
    padding: 1px;
}

.menu ul {
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    
}

.menu li {
    display: inline;
    padding: 0 15px;
    
}
.menu a {
    text-decoration: none;
    color: lightsteelblue;
}
.sub-menu a {
    text-decoration: none;
    color: lightsteelblue;
}

a:hover {
    color: white;
}
.about {
    margin: auto;
    text-align: center;
    padding-top: 15%;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider {
    min-height: 400px;
    min-width: 500px;
    margin:auto;
    height: 400px;
    width: 80%;
    background-image: url(slider.png);
    background-size: contain;
    background-repeat: no-repeat;
}


h1 {
    word-spacing: 5px;
    letter-spacing: 1px;
    }



.sub-menu ul {
    margin-top: 2%;
    margin-bottom: 12%;
}

.sub-menu li {
    display: inline-block;
    padding: 0 20px;
}

 .icon img {
    height: 400px;
    width: 30px;
    border-radius: 400px;
    display: block;
}

.btn a {
    padding: 3px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: deepskyblue;
}

.btn a:hover {
    color: lightsteelblue;
}
footer {
    margin-top: 20px;
    border-top: solid 1px grey;
    padding: 20px;
    text-align: center;
    font-weight: lighter;
}